<%= link_to "View mobile site", url_for(:mobile_site => 1) if mobile_browser? %>

<br/>

<h2>Authenticate with LinkedIn:</h2>

Our search relies on data from LinkedIn, please authenticate with your LinkedIn credentials to continue.

<br/>
<br/>

<a href="#" onclick="authenticationPopup.exec('/auth/linkedin')"><strong>Click to Authenticate</strong></a>
