
<div data-role="content">
  <br/>
  <br/>
  Our search relies on data from LinkedIn, please authenticate with your LinkedIn credentials to continue.
  <br/>
  <br/>
  <br/>
  <br/>
  <a data-role="button" href="#" onclick="authenticationPopup.exec('/auth/linkedin?scope=r_basicprofile+r_emailaddress')">
    Authenticate with Linkedin
  </a>
</div>