<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
  </title>
  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <link rel="stylesheet" href="my.css" />
  <style>
          /* App custom styles */
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
  </script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.js">
  </script>
  <script src="my.js">
  </script>
</head>
<div data-role="header">
  <h1>Listing posts</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @posts.each do |post| %>
        <li>
          <%= link_to post.title, post %>
          <%= link_to 'edit post', edit_post_path(post), "data-icon" => "gear" %>
        </li>
    <% end %>
  </ul>
</div>
</html>