HiringTo.com abides by a strict privacy policy as we respect our visitors and want to ensure you can be comfortable using our web applications.
<br/>      <br/>
<h2>Information Collection</h2>
<br/>
HiringTo.com does not currently collect information from users.<br/>    <br/>
<h2>Profiling </h2>
<br/>
HiringTo.com only uses Google Analytics to track visitors for basic information so that we can provide a better user experience.
<br/>     <br/>
<h2>Cookies </h2>
<br/>
HiringTo.com dsoes make use of cookies, however they are currently not required to use our web applications. We do not store personal information in cookies and cookies would only be used for purposes of maintaining user logged-in sessions.
<br/>    <br/>

<h2>Links </h2>    <br/>
HiringTo.com may link to third party websites. We strive to make the best possible decisions before linking to these websites, however cannot be held responsible for their content.
<br/>    <br/>
<br/>    <br/>
<h2>Log Files </h2>    <br/>
HiringTo.com maintains standard, basic log information about users access to our website. We do not archive these logs and delete them at regular intervals.
<br/>    <br/>
