<div data-theme="a" data-role="header">
  <h2>
    Site Map
  </h2>

  <div class="padding">

  </div>
</div>
<div data-role="content">
  <br/>
  <br/>
  - <a href="/">Home</a>
  <br/>
  - <a href="/calculator">Calculator</a>
  <br/>
  - <a href="/privacy_statement">Privacy Statement</a>
</div>
