<div data-theme="a" data-role="header">
  <h2>
    Site Map
  </h2>

  <div class="padding">
    <br/>
    <br/>
    - Home
    <br/>
    - Calculator
  </div>
</div>
<div data-role="content">

</div>
