<%= render :template => 'layouts/header' %>
<div id="mcontainer1">

  <div data-theme="c" data-role="header">
    <h3>
      Hiring=&gt;To
    </h3>
  </div>

  <%= #link_to "View mobile site", url_for(:mobile_site => 1) if !mobile_browser? %>
  <br/>
  <%= yield %>
  <br/>
  <br/>
  <br/>
</div>
<%= render :template => 'layouts/footer' %>
