<h2>Search for jobs in your area:</h2>

<%= render 'form' %>
<br/>
<br/>

<div>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-7092405612573938";
  /* hiringto */
  google_ad_slot = "6555023209";
  google_ad_width = 180;
  google_ad_height = 150;
  //-->
  </script>
  <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>

<br/>
Searching for a job is stressful and the last thing that you want to do is spend time digging through countless ads. Also, ther are, unfortunately, companies that are less than reputable that post spam job ads which have no real value to job seekers. Our mobile-optimized job search application aims to provider a better experience to users who are searching for jobs, by grouping jobs by the same company together. You can search for jobs in your area and have them displayed in a mobile-optimzed format that combines all job listings from the same company into one entry within the display list. Once you've applied to one job from a company, you don't want to keep seeing other ads from the same company. 
<br/>
<br/>
You are likely a busy person and don't necessarily want to spend all day sitting at your desktop or laptop computer. Why not use a mobile device, then, to browse job listings that interest you while you are on the go. Our user-interface is designed to enable ease of use while on the go. More features are planned so please check back soon.
