<h2>Search for jobs in your area:</h2>

<%= render 'form' %>
<br/>
<br/>
Search for jobs in your area and have them displayed in a mobile-optimzed format that combines all job listings from the same company into one entry within the display list.
Some companies post too many job ads for similar positions, once you've applied to one, you don't want to keep seeing other ads from the same company. More features are planned so please check back soon.
<br/>
<a href="/site_map">Site Map</a>
