<div data-role="header" xmlns="http://www.w3.org/1999/html">
  <h1><%= @post.title %></h1>

</div>

<div>
  <div data-role="content">
    <%= link_to 'Home', posts_url, "class" => "ui-btn-right" %>
</div>


  </br>
  </br>
  <%= @post.body %>
</div>
