/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 *
 */

.ui-body-c, .ui-overlay-c {
    /*background: linear-gradient(#F9F9F9, #EEEEEE) repeat scroll 0 0 #F9F9F9;   */
    background: url("tile_bg.png") !important;
    border: 1px solid #AAAAAA;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}

#container1 {
    position:absolute;
    background: white;
    left: 200px;
    top: 50px;
    overflow: hidden;
    width: 500px;
    height: 1200px;
    border-top-left-radius: 10% 5%;
    border-bottom-left-radius: 10% 5%;
    border-bottom-right-radius: 10% 5%;
    border-top-right-radius: 10% 5%;;
    border:1px solid #FF9900;
    border-radius:10px;
    border-color: #000000;

}


#mcontainer1 {
    overflow: hidden;
    background: white;
    padding: 3px;
    border-top-left-radius: 10% 5%;
    border-bottom-left-radius: 10% 5%;
    border-bottom-right-radius: 10% 5%;
    border-top-right-radius: 10% 5%;;
    border:1px solid #FF9900;
    border-radius:10px;
    border-color: #000000;
}

input.ui-input-text {
    background: white !important;
}






