/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */

#container1 {
    position:absolute;
    left: 200px;
    top: 50px;
    overflow: hidden;
    width: 500px;
    height: 500px;
    padding: 50px;
    border-top-left-radius: 10% 5%;
    border-bottom-left-radius: 10% 5%;
    border-bottom-right-radius: 10% 5%;
    border-top-right-radius: 10% 5%;;
    border:1px solid #FF9900;
    border-radius:10px;
    border-color: #000000;
}


#m.container1 {
    overflow: hidden;
    padding: 50px;
    border-top-left-radius: 10% 5%;
    border-bottom-left-radius: 10% 5%;
    border-bottom-right-radius: 10% 5%;
    border-top-right-radius: 10% 5%;;
    border:1px solid #FF9900;
    border-radius:10px;
    border-color: #000000;
}





