<%= render :template => 'layouts/header' %>
<div id="container1">


  <div data-theme="c" data-role="header">
    <h3>
      Hiring=&gt;To
    </h3>
  </div>

  <br/>
  <%= yield %>
</div>

<%= render :template => 'layouts/footer' %>
